<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiveDo</title>
</head>
<body>
    @RenderBody()

    <footer>
        &copy; 2019 - <a href="https://live-do.com">LiveDo</a>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
